<!DOCTYPE html>
{% extends "catalogue/base.html" %}

{% block content %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de création de produit</title>
    <link href="../../static/CSS/style_formulaire.CSS" rel="stylesheet" />
</head>
<body>

    <!-- Partie qui est afficher si l'utilisateur est connecter.
         Permet de créer une nouvelle catégorie -->
    {% if user.is_authenticated %}
    
    <div class="formulaire">
        <form method="post" action="{% url 'creer_categorie' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors }}

            <h1> Créer une nouvelle catégorie</h1>
            <p>
            <input type="text" name="nom" id="nom" required placeholder="Nom de la catégorie"><br>
            </p>

            <p>
            <input type="submit" value="Ajouter la catégorie" class="bouton">
            </p>    

        </form>
    </div>
    {% endif %}
    
    
    <!-- Partie qui est afficher si l'utilisateur n'est pas connecter-->
        {% if not user.is_authenticated %}
    <p> Oups... Vous avez frappé à la porte secrète, mais elle est actuellement verrouillée ! 🚪🔒 <br>
        Il semblerait que vous ayez besoin de votre badge 'Connecté' pour accéder à cette partie de notre monde virtuel. <br>
        À bientôt de l'autre côté, <br>
        L'équipe Mercadona</p>

    {% endif %}
{% endblock %}